<launch>

  <arg name="urdf-name" default="kuka_lwr_arm.urdf.xacro"/>
  <arg name="urdf-path" default="$(find iai_kuka_lwr4_description)/robots/$(arg urdf-name)"/>
  <arg name="param-name" default="robot_description"/>

  <param name="$(arg param-name)" command="xacro '$(arg urdf-path)'" />

</launch>
