<launch>
  <arg name="upload-default-start-config" default="true"/>

  <include file="$(find iai_boxy_bringup)/launch/boxy_loopback_sim_no_controllers.launch">
    <arg name="upload-default-start-config" value="$(arg upload-default-start-config)"/>
  </include>

  <include file="$(find iai_boxy_bringup)/launch/boxy_odometry_sim.launch" />

  <include file="$(find iai_boxy_controller_configuration)/launch/boxy_sim_vel_controllers.launch"/>

  <include file="$(find iai_boxy_controller_configuration)/launch/boxy_pos_controllers.launch"/>

  <include file="$(find iai_boxy_controller_configuration)/launch/boxy_gripper_controller.launch"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="log" />
</launch>
