<launch>

  <param name="/use_sim_time" value="false"/>
  <include file="$(find boxy_bringup)/machines/boxy.machine" />

  <!-- Load the robot description -->
  <include file="$(find iai_boxy_description)/launch/upload_boxy.launch" />

  <!-- Do forward kinematics: /joint_states + robot model => /tf -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- TF2 BUFFER SERVER -->
  <node pkg="tf2_ros" type="buffer_server" name="buffer_server"/>

  <!-- Start the EtherCAT controllers for the omnidirectional base -->
  <!--include file="$(find boxy_bringup)/launch/omnidrive.launch" /-->


    <!-- Bring together the different joint state messages -->
    <node pkg="joint_state_publisher" type="joint_state_publisher"
          name="joint_state_publisher" output="screen">
      <rosparam param="source_list">
        - right_arm/joint_states
        - left_arm/joint_states
        - torso/joint_states
        - head/joint_states
        - left_arm_gripper/joint_states
        - right_arm_gripper/joint_states
        - neck/joint_states
      </rosparam>
      <rosparam param="zeros">
        'left_arm_0_joint': 0.47553
        'left_arm_1_joint': 2.09769
        'left_arm_2_joint': 2.97525
        'left_arm_3_joint': 1.5025
        'left_arm_4_joint': -2.96865
        'left_arm_5_joint': 0.394601
        'left_arm_6_joint': 0.478342
        'right_arm_0_joint': -0.31
        'right_arm_1_joint': -1.43
        'right_arm_2_joint': 1.16
        'right_arm_3_joint': 1.52
        'right_arm_4_joint': -1.16
        'right_arm_5_joint': -1.17
        'right_arm_6_joint': 0.1
      </rosparam>
      <param name="rate" value="200"/>
      <param name="use_gui" value="True"/>
    </node>


</launch>
