<?xml version="1.0"?>
<robot name="iai_kuka_lwr4">

  <include filename="$(find iai_kuka_lwr4_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
  <include filename="$(find iai_kuka_lwr4_description)/urdf/gazebo.urdf.xacro"/>
  <include filename="$(find iai_kuka_lwr4_description)/defs/materials.xml"/>

  <link name="base"/>

  <kuka_lwr_arm parent="base" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </kuka_lwr_arm>
  
</robot>
