<?xml version="1.0"?>
<robot  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
        xmlns:xacro="http://ros.org/wiki/xacro"
	name="iai_roller">

<xacro:macro name="iai_roller" params="name parent *origin">

 <joint name="${name}_joint" type="fixed">
    <insert_block name="origin"/>
    <parent link="${parent}"/>
    <child link="${name}_base_link"/>
 </joint>

 <link name="${name}_base_link">
    <inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" />
      <inertia 	ixx="0.1" ixy="0.0" ixz="0.0"  
		iyy="0.1" iyz="0.0"
		izz="0.1" />
    </inertial>

    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
	<mesh 	filename="package://iai_roller_description/meshes/iai_roller.stl" scale="1 1 1"/>
      </geometry>
      <material name="grey">
	<color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
	<mesh filename="package://iai_roller_description/meshes/iai_roller.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

</xacro:macro>

</robot>

