<launch>
  <arg name="urdf-name" default="boxy_description_vision_target.urdf.xacro"/>
  <arg name="urdf-path" default="$(find iai_boxy_description)/robots/$(arg urdf-name)"/>
  <arg name="param-name" default="robot_description"/>

  <param name="$(arg param-name)" command="xacro --inorder '$(arg urdf-path)'" />
</launch>
