<launch>
  <!-- use simulated time, i.e. from rosbag -->
  <param name="/use_sim_time" value="false"/>

  <!-- upload pr2 description -->
  <include file="$(find iai_pr2_description)/launch/upload_pr2.launch"/>

  <!-- start the robot state publisher to have tf -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <remap from="/joint_states" to="/joint_states/restamped"/>
  </node>

  <!-- start restamping of recorded joint-states -->
  <include file="$(find iai_rosbag_utils)/launch/pr2_joint_state_restamper.launch"/>
</launch>
