<launch>
  <arg name="l_gripper_topic" default="/pressure/l_gripper_motor"/>
  <arg name="r_gripper_topic" default="/pressure/r_gripper_motor"/>

  <node pkg="fingertip_pressure" type="sensor_info.py"
      name="pr2_fingertips_info_publisher" output="screen"/>

  <node pkg="fingertip_pressure" type="sphere_viz.py"
      name="pr2_fingertips_marker_viz" output="screen">
    <remap from="/pressure/l_gripper_motor" to="$(arg l_gripper_topic)"/>
    <remap from="/pressure/r_gripper_motor" to="$(arg r_gripper_topic)"/>
  </node>
</launch>
