<launch>
  <arg name="teleop" default="true"/>
  <arg name="head-perception" default="true"/>
  <arg name="localization" default="true"/>

  <include file="/etc/ros/$(env ROS_DISTRO)/robot.launch"/>

  <group if="$(arg teleop)">
    <include file="$(find pr2_teleop)/teleop_joystick.launch"/>
  </group>

  <group if="$(arg head-perception)">
    <include file="$(find iai_pr2_bringup)/launch/pr2-head-perception.launch"/>
  </group>

  <group if="$(arg localization)">
    <include file="$(find iai_pr2_bringup)/launch/pr2-localization.launch"/>
  </group>
 
</launch>
