<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iai_donbot">

  <xacro:include filename="$(find iai_donbot_description)/robots/iai_donbot.urdf.xacro"/>

  <!-- <link name="map"/> -->

  <xacro:iai_donbot odom="True"/>

  <!-- <joint name="table_localization" type="fixed">
    <parent link="map"/>
    <child link="plate"/>
  </joint> -->

</robot>
