<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="boxy_description">
	<xacro:include filename="$(find iai_kuka_lwr4_description)/defs/materials.xml"/>
	<xacro:include filename="$(find iai_kuka_lwr4_description)/urdf/kuka_lwr_arm.urdf.xacro"/>
	<xacro:include filename="$(find iai_wsg_50_description)/urdf/wsg_50.urdf.xacro"/>	
	
	<!-- Property definitions e.g. constants -->
	<xacro:property name="head_joint_x" value="0.2" />
	<xacro:property name="head_joint_y" value="-0.21" />
	<xacro:property name="head_joint_z" value="1.48" />
	
	<xacro:property name="torso_joint_x" value="0" />  <!--this is the diamiter of one of the aluminium (/2) pipes (20mm) = the diamiter of the piece that holds the slider (45mm) -->
	<xacro:property name="torso_joint_y" value="0.065" /> <!-- distance from the axis 0 to the first alu pipe 74 + distance between the pipes 150 + diamiter of the slider 200 /2   ( = center ) -->
	<xacro:property name="torso_joint_z" value="0.410" />

	<!-- /Property definitions e.g. constants -->
	
	<xacro:include filename="$(find iai_boxy_base)/robots/base.URDF" />
	
	<link name="base_footprint">
	</link>
	
	<!-- JOINT to define base_footprint -->
	<joint name="base_footprint_joint" type="fixed">
		<origin xyz="0.36 0.25 0.16" rpy="0 0 0" />
		<parent link="base_footprint" />
		<child link="base_link" />
	</joint>
	<!-- /JOINT for base_footprint -->

	<!-- JOINT to connect the base with the pw070 -->
	<joint name="head_joint" type="fixed">
		<origin xyz="${head_joint_x} ${head_joint_y} ${head_joint_z}" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="pw070_base_link" />
	</joint>
	<!-- /JOINT to connect the base with the pw070 -->
	
	<xacro:include filename="$(find iai_schunk_pw070_v6)/robots/pw070_v6.URDF" />
	
	<!-- JOINT to connect the base with the torso -->
	<joint name="torso_joint" type="fixed">
		<origin xyz="${torso_joint_x} ${torso_joint_y} ${torso_joint_z}" rpy="0 0 0" />
		<parent link="base_link" />
		<child link="torso_base_link" />
	</joint>
	<!-- /JOINT to connect the base with the torso -->
	
	<xacro:include filename="$(find iai_boxy_torso)/robots/torso.URDF" />
	
	<kuka_lwr_arm parent="triangle_left_arm_link" name="left">
          <origin xyz="0 0 0" rpy="0 0 1.047198"/>
	</kuka_lwr_arm>
	
	<!-- Old gripper
	<xacro:include filename="$(find iai_weiss_wsg50)/robots/weiss_wsg50.urdf" />
	
	<joint name="left_hand_joint" type="fixed">
		<origin xyz="0 0 0.08" rpy="0 0 0" />
		<parent link="left_arm_7_link" />
		<child link="gripper_base_link" />
	</joint>
  -->

	<kuka_lwr_arm parent="triangle_right_arm_link" name="right">
          <origin xyz="0 0 0" rpy="0 0 -1.047198"/>
	</kuka_lwr_arm>

	<wsg_50_xacro name="left_gripper" parent="left_arm_flange_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</wsg_50_xacro>

	<wsg_50_xacro name="right_gripper" parent="right_arm_flange_link">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</wsg_50_xacro>

</robot>
