<launch>
  <arg name="stopped" default="false"/>

  <rosparam command="load" 
    file="$(find iai_boxy_controller_configuration)/config/boxy_arm_joint_trajectory.yaml"/>

  <group if="$(arg stopped)">
    <node name="r_arm_joint_traj_ctrl_spawner" pkg="controller_manager" type="spawner" 
      args="--stopped r_arm_traj_controller l_arm_traj_controller" output="screen"/>
  </group>

  <group unless="$(arg stopped)">
    <node name="r_arm_joint_traj_ctrl_spawner" pkg="controller_manager" type="spawner" 
      args="r_arm_traj_controller l_arm_traj_controller" output="screen"/>
  </group>
</launch>
