<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tracy">

  <material name="grey">
      <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
  </material>
  <material name="Cyan">
      <color rgba="0 1.0 1.0 1.0"/>
  </material>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find wpg_300_120_description)/urdf/wpg_300-120_meshed.urdf.xacro"/>

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <link name="map" />
  <link name="world"/>

  <joint name="map_to_world_joint" type="fixed">
    <parent link="map"/>
    <child link="world"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:ur_robot
    name="ur_left"
    tf_prefix="left_"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find iai_dualarm_description)/config/ur5_left_arm_calibration.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="false">
    <origin xyz="0.475 -1.0615 0.0" rpy="0 0 3.14" />
  </xacro:ur_robot>

  <link name="left_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <material name="Cyan"/>
    </visual>
  </link>

  <joint name="left_adapter_joint" type="fixed">
    <parent link="left_wrist_3_link"/>
    <child link="left_adapter"/>
    <origin xyz="0 0 0.005" rpy="0 0 3.14"/>
  </joint>

  <xacro:wsg_300_120_xacro parent="left_adapter" name="left_gripper">
    <origin xyz="0 0 0" rpy="0 0 -0.785"/>
  </xacro:wsg_300_120_xacro>

  <xacro:ur_robot
    name="ur_right"
    tf_prefix="right_"
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find iai_dualarm_description)/config/ur5_right_arm_calibration.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="false">
    <origin xyz="0.464 -0.125 0.0" rpy="0 0 0.785" />
  </xacro:ur_robot>

  <link name="right_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <material name="Cyan"/>
    </visual>
  </link>

  <joint name="right_adapter_joint" type="fixed">
    <parent link="right_wrist_3_link"/>
    <child link="right_adapter"/>
    <origin xyz="0 0 0.005" rpy="0 0 3.14"/>
  </joint>

  <xacro:wsg_300_120_xacro parent="right_adapter" name="right_gripper">
    <origin xyz="0 0 0" rpy="0 0 -0.785"/>
  </xacro:wsg_300_120_xacro>

</robot>