<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="ur5dualarm">

  <material name="grey">
      <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
  </material>
  <material name="Cyan">
      <color rgba="0 1.0 1.0 1.0"/>
  </material>
  <material name="gray">
    <color rgba="0.56 0.67 0.67 1"/>
  </material>
  <material name="Silver">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find wpg_300_120_description)/urdf/wpg_300-120_meshed.urdf.xacro"/>

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <xacro:property name="table_height" value="0.6077" />
  <xacro:property name="table_length" value="1.19" />
  <!-- left mounting location -->
  <xacro:property name="left_arm_mounting_plate_width" value="0.18" />
  <xacro:property name="left_arm_mounting_plate_length" value="0.15" />
  <xacro:property name="left_arm_mounting_plate_height" value="0.006" />
  <xacro:property name="left_arm_mounting_plate_x_offset" value="0.045" />
  <xacro:property name="left_arm_mounting_plate_y_offset" value="0.368" />
  <xacro:property name="left_kms_mounting_plate_height" value="0.016" />
  <!-- right mounting location -->
  <xacro:property name="right_arm_mounting_plate_width" value="0.18" />
  <xacro:property name="right_arm_mounting_plate_length" value="0.15" />
  <xacro:property name="right_arm_mounting_plate_height" value="0.006" />
  <xacro:property name="right_arm_mounting_plate_x_offset" value="0.994" />
  <xacro:property name="right_arm_mounting_plate_y_offset" value="0.368" />
  <xacro:property name="right_kms_mounting_plate_height" value="0.016" />

  <link name="map" />

  <joint name="table_joint" type="fixed">
      <parent link="map"/>
      <child link="table"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="table">
    <visual>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/complete_table.dae"/>
      </geometry>
      <material name="gray"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/complete_table.stl"/>
      </geometry>
      <material name="gray"/>
    </collision>
  </link>

  <joint name="left_arm_mounting_plate_joint" type="fixed">
    <parent link="table"/>
    <child link="left_arm_mounting_plate"/>
    <origin xyz="${-table_length+left_arm_mounting_plate_x_offset+left_arm_mounting_plate_length/2} ${-left_arm_mounting_plate_y_offset-left_arm_mounting_plate_width/2} ${table_height}"/>
  </joint>

  <link name="left_arm_mounting_plate">
    <visual>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/base_to_optical_table.stl"/>
      </geometry>
      <material name="Silver"/>
    </visual>
  </link>

  <joint name="right_arm_mounting_plate_joint" type="fixed">
    <parent link="table"/>
    <child link="right_arm_mounting_plate"/>
    <origin xyz="${-table_length+right_arm_mounting_plate_x_offset+right_arm_mounting_plate_length/2} ${-right_arm_mounting_plate_y_offset-right_arm_mounting_plate_width/2} ${table_height}"/>
  </joint>

  <link name="right_arm_mounting_plate">
    <visual>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/base_to_optical_table.stl"/>
      </geometry>
      <material name="Silver"/>
    </visual>
  </link>

  <link name="right_kms_mounting_plate">
    <visual>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/adapter_plate_iso50_kms40_weiss.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="right_kms_mounting_plate_joint" type="fixed">
    <parent link="right_ft_frame" />
    <child link="right_kms_mounting_plate" />
    <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
  </joint>

  <kms_40_xacro parent="right_kms_mounting_plate" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </kms_40_xacro>

  <link name="left_kms_mounting_plate">
    <visual>
      <geometry>
        <mesh filename="package://iai_table_robot_description/meshes/adapter_plate_iso50_kms40_weiss.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray"/>
    </visual>
  </link>

  <joint name="left_kms_mounting_plate_joint" type="fixed">
    <parent link="left_ft_frame" />
    <child link="left_kms_mounting_plate" />
    <origin xyz="0 0 0" rpy="0 ${pi/2} 0" />
  </joint>

  <kms_40_xacro parent="left_kms_mounting_plate" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </kms_40_xacro>

  <xacro:ur_robot
    name="ur_left"
    tf_prefix="left_"
    parent="left_arm_mounting_plate"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find iai_dualarm_description)/config/ur5_left_arm_calibration.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="false">
    <origin xyz="0.0 0.0 ${left_arm_mounting_plate_height}" rpy="0 0 -${pi/4}" />
  </xacro:ur_robot>

  <link name="left_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <material name="Cyan"/>
    </visual>
  </link>

  <joint name="left_adapter_joint" type="fixed">
    <parent link="left_wrist_3_link"/>
    <child link="left_adapter"/>
    <origin xyz="0 0 0.005" rpy="0 0 3.14"/>
  </joint>

  <xacro:wsg_300_120_xacro parent="left_adapter" name="left_gripper">
    <origin xyz="0 0 0" rpy="0 0 -0.785"/>
  </xacro:wsg_300_120_xacro>

  <xacro:ur_robot
    name="ur_right"
    tf_prefix="right_"
    parent="right_arm_mounting_plate"
    joint_limits_parameters_file="$(find ur_description)/config/ur5/joint_limits.yaml"
    kinematics_parameters_file="$(find iai_dualarm_description)/config/ur5_right_arm_calibration.yaml"
    physical_parameters_file="$(find ur_description)/config/ur5/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur5/visual_parameters.yaml"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"
    force_abs_paths="false">
    <origin xyz="0.0 0.0 ${right_arm_mounting_plate_height}" rpy="0 0 -${pi/4}" />
  </xacro:ur_robot>

  <link name="right_adapter">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.035" length="0.01"/>
      </geometry>
      <material name="Cyan"/>
    </visual>
  </link>

  <joint name="right_adapter_joint" type="fixed">
    <parent link="right_wrist_3_link"/>
    <child link="right_adapter"/>
    <origin xyz="0 0 0.005" rpy="0 0 3.14"/>
  </joint>

  <xacro:wsg_300_120_xacro parent="right_adapter" name="right_gripper">
    <origin xyz="0 0 0" rpy="0 0 -0.785"/>
  </xacro:wsg_300_120_xacro>

</robot>
