<launch>
  <arg name="model" />
  <arg name="gui" default="False" />
  <include file="$(find donbot_description)/launch/upload.launch" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" />
  <!--node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find iai_boxy_base_2)/urdf.rviz" /-->
</launch>
