<launch>
  <arg name="urdf" default="$(find iai_donbot_description)/robots/iai_donbot_spawn.xacro"/>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="kinematics_config" default="$(find iai_donbot_description)/config/ur5_calibration.yaml"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(arg urdf)' transmission_hw_interface:=$(arg transmission_hw_interface)
    kinematics_config:=$(arg kinematics_config)" />
</launch>
