<launch>

  <arg name="kinematics_config_right" default="$(find iai_dualarm_description)/config/ur5_right_arm_calibration.yaml"/>
  <arg name="kinematics_config_left" default="$(find iai_dualarm_description)/config/ur5_left_arm_calibration.yaml"/>

  <node pkg="tf" type="static_transform_publisher" name="map_world_transformer" args="0 0 0 0 0 0 1 map world 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_world_transformer2" args="0 0 0 0 0 0 1 map ur5dualarm/world 100" />

  <arg name="urdf-name" default="dualarm_ur5s_one_gripper.urdf.xacro"/>
  <arg name="urdf-path" default="$(find iai_dualarm_description)/robots/$(arg urdf-name)"/>
  <arg name="param-name" default="robot_description"/>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param name="$(arg param-name)" command="xacro '$(arg urdf-path)' transmission_hw_interface:=$(arg transmission_hw_interface)
    kinematics_config_left:=$(arg kinematics_config_left) kinematics_config_right:=$(arg kinematics_config_right)"
  />

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" ns="left_arm">
    <arg name="robot_ip" value="192.168.101.1"/>
    <arg name="tf_prefix" value="left_"/>
    <arg name="controller_config_file" value="$(find iai_dualarm_description)/config/ur5_real_left_arm_control.yaml"/>
    <arg name="kinematics_config" value="$(arg kinematics_config_left)"/>
    <arg name="robot_description_file" value="$(find iai_dualarm_description)/launch/upload_dualarm_ur5s_one_gripper.launch"/>
    <arg name="controllers" value="joint_state_controller_left joint_group_vel_controller_left"/>
    <arg name="stopped_controllers" value="pos_joint_traj_controller_left"/>
    <arg name="reverse_port" value="50008"/>
    <arg name="script_sender_port" value="50011"/>
    <arg name="trajectory_port" value="50010"/>
    <arg name="script_command_port" value="50012"/>
  </include>

  <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" ns="right_arm">
    <arg name="robot_ip" value="192.168.101.171"/>
    <arg name="tf_prefix" value="right_"/>
    <arg name="controller_config_file" value="$(find iai_dualarm_description)/config/ur5_real_right_arm_control.yaml"/>
    <arg name="kinematics_config" value="$(arg kinematics_config_right)"/>
    <arg name="robot_description_file" value="$(find iai_dualarm_description)/launch/upload_dualarm_ur5s_one_gripper.launch"/>
    <arg name="controllers" value="joint_state_controller_right joint_group_vel_controller_right"/>
    <arg name="stopped_controllers" value="pos_joint_traj_controller_right"/>
    <arg name="reverse_port" value="50000"/>
    <arg name="script_sender_port" value="50002"/>
    <arg name="trajectory_port" value="50001"/>
    <arg name="script_command_port" value="50003"/>
  </include>
  
  <include file="$(find wsg_50_driver)/launch/wsg_50_tcp.launch" ns="left_gripper">
   <arg name="gripper_name" value="left_gripper"/>
   <arg name="finger_joint_name" value="left_gripper_joint"/>
   <arg name="ip" value="192.168.102.63"/>
  </include>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" ns="left_gripper" >
        <remap from="joint_states" to="wsg_50_driver/joint_states" />
   </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - /left_arm/joint_states
    - /right_arm/joint_states
    - /left_gripper/wsg_50_driver/joint_states
    </rosparam>
    <param name="rate" value="120"/>
    <param name="use_gui" value="False"/>
  </node>

	
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find iai_dualarm_description)/urdf.rviz"/>

</launch>
