<launch>
  <include file="$(find refills_scanner_robot_bringup)/launch/bringup_base.launch"/>
  <include file="$(find refills_scanner_robot_bringup)/launch/bringup_ur5.launch"/>


  <!-- Bring together the different joint state messages -->
  <node pkg="joint_state_publisher" type="joint_state_publisher"
  name="joint_state_publisher" output="screen">
    <rosparam param="source_list">
    - base/joint_states
    - arm/joint_states
    </rosparam>
    <rosparam param="zeros">
    'odom_x_joint: 0.0
    'odom_y_joint: 0.0
    'odom_z_joint: 0.0
    'left_arm_0_joint': 0.47553
    'left_arm_1_joint': 2.09769
    'left_arm_2_joint': 2.97525
    'left_arm_3_joint': 1.5025
    'left_arm_4_joint': -2.96865
    'left_arm_5_joint': 0.394601
    'left_arm_6_joint': 0.478342
    </rosparam>

    <param name="rate" value="200"/>
    <param name="use_gui" value="False"/>

  </node>
</launch>
