
<launch>
  <!-- The following parameters are tuned for both lasers (one UTM30LXEW, and one UST10LX) working reliably at 20Hz. Their nominal freq is 40Hz, but the older UTM30 seems to struggle like that, specially if we ask for intensity values. So for the sake of reliability, we set skip=1 to reduce freq to 20Hz. We could also change min_ang and max_ang, but I prefer to have the 270deg to cover all around Boxy -->

  <node name="hokuyo_front" pkg="urg_node" type="urg_node" respawn="false" output="screen">
  
    <param name="ip_address" type="string" value="192.168.102.73"/>
    <param name="ip_port" type="int" value="10940"/>
    <param name="calibrate_time" type="bool" value="true"/> 
    <param name="publish_intensity" type="bool" value="false"/>
    <param name="publish_multiecho" type="bool" value="false"/>
    <param name="cluster" type="int" value="1"/>
    <param name="skip" type="int" value="1"/>
    <param name="error_limit" type="int" value="15"/>
    <param name="frame_id" type="string" value="/laser_reference_front"/> 

    <remap from="scan" to="~/most_intense"/>
    <remap from="echoes" to="~/echoes"/>
    <remap from="first" to="~/first"/>
    <remap from="last" to="~/last"/>
    <remap from="most_intense" to="~/most_intense"/>
  
  </node>

  <node name="hokuyo_back" pkg="urg_node" type="urg_node" respawn="false" output="screen">
  
    <param name="ip_address" type="string" value="192.168.102.50"/>
    <param name="ip_port" type="int" value="10940"/>
    <param name="calibrate_time" type="bool" value="true"/> 
    <param name="publish_intensity" type="bool" value="false"/>
    <param name="publish_multiecho" type="bool" value="false"/>
    <param name="cluster" type="int" value="1"/>
    <param name="skip" type="int" value="1"/>
    <param name="error_limit" type="int" value="15"/>
    <param name="frame_id" type="string" value="/laser_reference_back"/> 

    <remap from="scan" to="~/most_intense"/>
    <remap from="echoes" to="~/echoes"/>
    <remap from="first" to="~/first"/>
    <remap from="last" to="~/last"/>
    <remap from="most_intense" to="~/most_intense"/>
  
  </node>


  <!--node name="tf_front_laser" pkg="tf" type="static_transform_publisher" args="0.0 -0.07 0.34 0.7854 0 3.14159 /base_link /front_laser 100"/-->
  
  
</launch>
